<header class="header">
  <div class="container header-container">
    <a href="" class="logo">AG</a>
    <nav class="nav">
      <ul class="nav-list">
        <li><a href="" class="nav-link">Experience</a></li>
        <li><a href="" class="nav-link">Work</a></li>
        <li><a href="" class="nav-link">Photography</a></li>
        <li><a href="" class="nav-link">Contact</a></li>
      </ul>
    </nav>
    <button type="button" class="menu-open-btn">
      <svg width="24" height="24">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>