<header class="header">
  <div class="container header-container">
    <a href="" class="logo">AG</a>
    <nav class="nav">
      <ul class="nav-list">
        <li><a href="" class="nav-link">Experience</a></li>
        <li><a href="" class="nav-link">Work</a></li>
        <li><a href="" class="nav-link">Photography</a></li>
        <li><a href="" class="nav-link">Contact</a></li>
      </ul>
    </nav>
    <button type="button" class="menu-open-btn" data-menu-open>
      <svg width="24" height="24">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
    <div class="backdrop" data-menu>
      <div class="mob-menu">
        <button type="button" class="mob-close-btn" data-menu-close>
          <svg class="mob-close-icon" width="32" height="32">
            <use href="./img/icons.svg#icon-close"></use>
          </svg>
        </button>
        <ul class="mob-list">
          <li><a href="" class="mob-link">Experience</a></li>
          <li><a href="" class="mob-link">Work</a></li>
          <li><a href="" class="mob-link">Photography</a></li>
          <li><a href="" class="mob-link">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>