<section class="hero ">
    <div class="container hero-container">
        <img src="./img/hero.jpg" alt="" class="hero-img" height="288" width="360">
        <h1 class="hero-title">I’m Alex Gvozdetsʹkyy.
            A SMM
            <span class="hero-title-part">based in Kyiv.</span>
        </h1>
        <p class="hero-text">I’m probably the most passionate designer you will ever get to work with. If you have a
            great project that needs some
            amazing skills, I’m your guy.</p>
    </div>
</section>