<section class="hero ">
    <div class="container hero-container">
        <picture>


            <source media="(min-width: 1158px)" srcset="./img/hero.jpg 1x, ./img/hero.jpg 2x" type="image/jpg" />


            <source media="(min-width: 768px)" srcset="./img/hero-tab.jpg 1x, ./img/hero-tab.jpg 2x" type="image/jpg" />


            <source media="(max-width: 767px)" srcset="./img/hero.jpg 1x, ./img/hero.jpg 2x" type="image/jpg" />
            <img class="hero-img" src="./img/hero.jpg" alt="men" width="450" height="294" loading="lazy" />
        </picture>

        <div class="hero-text-wrap">
            <h1 class="hero-title">I’m Alex Gvozdetsʹkyy.
                A SMM
                <span class="hero-title-part">based in Kyiv.</span>
            </h1>
            <p class="hero-text">I’m probably the most passionate designer you will ever get to work with. If you have a
                great project that needs some
                amazing skills, I’m your guy.</p>
        </div>
    </div>
</section>