<section class="value ">
    <div class="container value-container">
        <div class="value-text-wrap">
            <h2 class="value-title">Philosophy & values</h2>
            <p class="value-text">I think everyone wants the same thing - relationship with humanity, peace with the
                metaphysical, and experience with the
                universe. I try to grasp these things with my values: authenticity, creativity, & hospitality.</p>
            <a href="" class="value-link">More about me</a>
        </div>
        <img src="./img/me.jpg" alt="laptop" class="value-img">
    </div>
</section>