.header {
  padding: 24px 0;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-weight: 700;
  font-size: 24px;
}
.nav {
  display: none;
}

.menu-open-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: #2e2f4266;
  backdrop-filter: blur(2px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mob-menu {
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 160px;
  top: 0;
  right: 0;
  width: 274px;
  height: 100%;
  background: #000;
  background-image: url(../img/logo.jpg);
  background-position: 90% 90%;
  background-size: 120px;
  background-repeat: no-repeat;
}
.mob-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mob-link {
  color: #fff;
}
.mob-close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  position: absolute;
  top: 30px;
  right: 20px;
  width: 24px;
  height: 24px;
}
.mob-close-icon {
  fill: #fff;
  stroke: #fff;
}
@media only screen and (min-width: 768px) {
  .backdrop {
    display: none;
  }
}
